@import "tailwindcss";

@theme {
  --color-background: #0f172a;
  --color-surface: #1e293b;
  --color-primary: #0ea5e9;
  --color-secondary: #38bdf8;
}

@layer base {
  body {
    @apply bg-background text-slate-100 antialiased;
  }
}
